$primary-font: 'Roboto', sans-serif;

$title-size: 3rem;
$title-weight: 700;
$title-spacing: 5%;

$header1-size: 2.25rem;
$header1-weight: 500;
$header1-spacing: 5%;

$header3-size: 1.5rem;
$header3-weight: 500;
$header3-spacing: 5%;

$btntxt-size: 1.125rem;
$btntxt-weight: 600;
$btntxt-spacing: 5%;

$nav-size: 1.125rem;
$nav-weight: 500;
$nav-spacing: 0%;

$paragraph-size: 1.125rem;
$paragraph-weight: 400;
$paragraph-spacing: 0%;