.container{
    width:100%;
    min-height: 100vh;
    gap: 1vw;

    #courses,
    #team,
    #contact{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        min-height: 100vh;
    }
}
