header{
    padding: 3vh 2vw;
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    z-index: 3;
    background-color: $color-white;

    nav{
        .menu{
            display: flex;
            list-style: none;
            
            &__item{
                flex: 1;
                display: flex;
                align-items: center;
                text-decoration: none;
                color: $dark-color;
                transition: 200ms ease-in-out;

                &:first-child{
                    flex: 7;
                    
                    li{
                        display: flex;
                        align-items: center;

                        img{
                            height: 50px;
                            margin-right: 1vw;
                        }
    
                        #logo{
                            display: flex;
                            font-size: 1.25rem;
                            font-weight: 600;
                            letter-spacing: 0.1vw;
                            color: $primary-color;
                            text-decoration: none;
                        }  
                    }
           
                }
                
                &:not(:first-child):hover{
                    color: $primary-color;
                    transform: scale(1.05,1.05);
                }
            }
        }
    }
}